@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Phudu:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  line-height: 27px;
}

.underline_link {
  position: relative;
  display: block;
}

.underline_link::after {
  --duration: 300ms;
  content: "";
  position: absolute;
  padding: 1px;
  background: currentColor;
  left: 50%;
  right: 50%;
  bottom: -5px;
  opacity: 0;
  transition: left var(--duration), right var(--duration);
}
.underline_link:hover::after {
  opacity: 1;
  left: 0;
  right: 0;
}

.container_block {
  margin-inline: 10% 5%;
}
.cut {
  position: relative;
}

.cut::after {
  --size: 60px;
  content: "";
  position: absolute;
  height: var(--size);
  aspect-ratio: 3;
  background-color: #e6ebe0;
  bottom: calc(var(--size) * -1);
  right: calc(var(--size) * -1);
  transform: rotate(-45deg);
  z-index: 4;
}
.services > div {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.services img {
  max-width: 400px !important;
}

@media screen and (min-width: 1000px) {
  .hero.cut::after {
    --size: 60px;
    content: "";
    position: absolute;
    height: var(--size);
    aspect-ratio: 3;
    background-color: #e6ebe0;
    bottom: calc(var(--size) * -1);
    right: calc(var(--size) * -1);
    transform: rotate(-45deg);
    z-index: 4;
  }
  .services > div:nth-child(even) img {
    order: 2;
  }
}

.testing > div:has(img) {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  overflow: hidden;
}

.testing > div:has(img) img {
  /* height: 80%; */
  width: 100% !important;
  object-fit: cover;
}

@media screen and (max-width: 1400px) {
  .testing > div:has(img) {
    max-height: 500px;
  }
}

.second_header.fixed {
  display: block !important;
  z-index: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mobile {
  position: absolute;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 40px;
  top: 75px;
  transform: translateX(0);
  transition: all 500ms;
  height: calc(100vh - 150px);
}

.second_header {
  z-index: 10000 !important;
}

@media screen and (min-width: 800px) {
  .testing > div:has(ion-icon) p:last-of-type {
    line-clamp: 8;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
  }
}

/* .backdrop {
  backdrop-filter: blur(10px) !important;
} */
